<p style="color: green"><%= notice %></p>

<%= render @artifact %>

<div>
<<<<<<< HEAD
  <%= link_to "Edit this artifact", edit_artifact_path(@artifact), class: "btn btn-warning" %>
  <%= link_to "Back to artifacts", artifacts_path, class: "btn btn-success mx-5" %>

  <%= button_to "Destroy this artifact", @artifact, method: :delete, class: "btn btn-danger mt-2" %>
=======
  <%= link_to "Edit this artifact", edit_artifact_path(@artifact) %> |
  <%= link_to "Back to artifacts", artifacts_path %>

  <%= button_to "Destroy this artifact", @artifact, method: :delete %>
>>>>>>> 5739d4c07d02e1daa9ce43715c24f5316ff476f4
</div>
